<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name=theme-color content=#00A7D0>
        <meta name="description" content="Text to speech system">
        <title>TTS</title>
        <meta description="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body>
        <header>
            <h1 class="title">Text to Speech</h1>
        </header>
        <main>
            <section class="container">
                <textarea class="text">Look again at that dot. That’s here. That’s home. That’s us. On it everyone you love, everyone you know, everyone you ever heard of, every human being who ever was, lived out their lives.</textarea>
                <section class="actions">
                    <label for="source_lang">Language:
                    <select class="languages" id="source_lang">
                        <option value="auto">Detect automatically</option>"
                        {% for code in languages %}
                        {% if code == "en" %}
                        <option value="{{code}}">{{code}} - {{languages[code]}}</option>"
                        {% else %}
                        <option value="{{code}}">{{code}} - {{languages[code]}}</option>"
                        {% endif %}
                        {% endfor %}
                    </select></label>

                    <button class="submit" onclick="doTTS()">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 90 90" fill="currentColor" xml:space="preserve"><path d="M45,6.421c21.273,0,38.579,17.306,38.579,38.579S66.273,83.578,45,83.578c-21.273,0-38.579-17.306-38.579-38.579  S23.727,6.421,45,6.421 M45,0C20.148,0,0,20.146,0,44.999s20.148,44.999,45,44.999c24.852,0,45-20.146,45-44.999S69.852,0,45,0L45,0  z M65.5,44.999l-31.5-18v36L65.5,44.999z"/></svg>
                    </button>
                </section>
            </section>
            <section class="result">
                <progress hidden></progress>
                <audio controls autoplay hidden/>
            </section>
            </section>

        </main>
        <footer>
            <p>Powered by <a href="https://github.com/coqui-ai/TTS">Coqui TTS</a> and <a href="https://github.com/facebookresearch/fairseq/tree/main/examples/mms">Fairseq models.</a>
                <a href="https://github.com/santhoshtr/tts-web">Source code</a>.
            No data is saved in the server.
            </p>
        </footer>
        <script src="../static/main.js"></script>
    </body>

</html>